{
  "extends": "eslint-config-cnyes",
  "plugins": ["security"],
  "parser": "babel-eslint",
  "env": {
    browser: true,
    node: true,
    es6: true,
    jest: true,
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
  },
  "rules": {},
}
