$font-family: 'Open Sans', 'Arial', 'Microsoft Jhenghei', 'Hiragino Sans GB', 'Pingfang TC', 'Lantinghei TC', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;

$wrapper-width: 1200px;

// colors
$black-a04: rgba(0, 0, 0, 0.4);
$black: #000;
$red-8d1b1e: #8d1b1e;
$red: #a41d1e;
$white: #fff;

// gray-s
$gray-333: #333;
$gray-666: #666;
$gray-686868: #686868;
$gray-969696: #969696;
$gray-ccc: #ccc;
$gray-d8d8d8: #d8d8d8;
$gray-edeef1: #edeef1;
$gray-f6f6f6: #f6f6f6;
$gray-f6f7f8: #f6f7f8;

$border-light-gray: rgba(152, 152, 152, 0.2);
