@import '../../styles/base';

#cnyes-header-wrapper { // sass-lint:disable-line no-ids
  /* NOTE: reset for export to common component start */
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 17px/23px $font-family;
  text-align: left;

  * {
    box-sizing: border-box;
  }

  a,
  a:hover {
    text-decoration: none;
  }
  /* NOTE: reset for export to common component end */
}
